@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {

    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: white;
}





/*Меню*/

.navbar {
    border-radius: 0;
    z-index: 100;
    height: 80px;
}

.navbar-collapse {
    margin-top: 15px;
}

.navbar-inverse .navbar-nav>li>a {

    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: grey;
}

#logo {
    margin-top: 5px;
    width: 100%;
    height: auto;
}





/*Блок 1*/

.block1_fon {
    background: url(../images/shapka.png) center no-repeat;
    background-size: cover;
    position: fixed;
    height: 800px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    z-index: -100;
}

.block1_filter {
    margin-top: 50px;
    height: 700px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.20));
    background-position: center;
    position: relative;
    z-index: -99;
    margin-bottom: -95px;
}

.block1_logo {
    margin: 5% 0;
    text-align: center;
    max-width: 300px;
    max-height: 50px;
}

#logo2 {

    width: 100%;
    height: auto;
}


h1 {

    font-size: 1.5vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 1.4;
    text-shadow: 3px 3px 4px black;
    max-width: 600px;
    margin: 10px auto;
}





/*Форма 1*/

.block1_2_form form {

    width: 550px;
    height: 500px;
    background: rgba(0, 144, 221, 0.8);
    position: absolute;
    z-index: 10;
    top: 600px;
    right: 3%;
    border-radius: 50%;
    overflow: hidden;
}

#form1 input,
#form1 textarea {
    margin-top: 15px;
    display: block;
    margin-left: 27%;
    width: 250px;
}

#form1 textarea {
    height: 150px;
}

#form1 input {

    height: 40px;
}

#form1 p {
    margin-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 2.8vh;
    text-align: center;
}

#form1 button {
    border-radius: 3px;
    height: 40px;
    width: 150px;
    margin-left: 36%;
    margin-top: 20px;
    background: white;
    border: none;
}





/*Блок 2*/

.block2_fon {

    background: white;
    clip-path: polygon(18% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
    height: 600px;
    margin-bottom: -105px;
}

.block2_fon .content {
    margin-top: 12%;
    width: 50%;
}

.block2_fon h2 {

    font-weight: 700;
    font-size: 7vh;
    color: #222222;
}

.block2_fon hr {

    color: rgb(0, 144, 221);
    background: rgb(0, 144, 221);
    height: 2px;
    width: 12%;
    margin: 20px 0;
}

.block2_fon p {

    font-weight: 400;
    font-size: 2.2vh;
    color: #222222;
}





/*Блок 3*/

.block3_fon {

    background: #222222;
    height: 100%;
    clip-path: polygon(85% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.block3_fon .fon2{

	background: url(../images/PS_Dealer_Venlo_2015_HR-16_Edit.png) no-repeat center;
	bottom: 0;
	right: 0;
	height: 800px;
	z-index: 1000;
	position: absolute;

}

.block3_fon h2 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 7vh;
    margin-top: 10%;
}

.block3_fon hr {

    color: white;
    background-color: white;
    height: 1px;
    width: 6%;
    margin: 2% auto;
}

.block3_fon p {

    font-weight: 400;
    font-size: 2vh;
    color: white;
    text-align: center;
}


/*Блок 3 1*/

.block3_photo1 {
    margin: 4% auto;
    margin-bottom: -35px;
    width: 100%;
    display: inline-block;
}

.block3_1_1 {
    height: 463px;
    width: 40%;
    float: right;
    background: white;
    vertical-align: middle;
}

.block3_1 {
    width: 60%;
    float: left;
    background: rgba(255, 255, 255, 0.1);
}

.block3_1 div {

    padding: 0 100px;
}

.block3_1_1 h2{

	color: #222222;
	font-size: 5vh;
	text-align: left;
	margin-left: 10%;
	width: 400px;
}

.block3_1_1 hr {

    color: #222222;
    background-color: #222222;
    height: 2px;
    width: 15%;
    margin: 5% 10%;

}

.block3_1_1 p{

	color: #222222;
	text-align: left;
	margin-left: 10%;
	width: 400px;

}

/*Блок 3 2*/

.block3_photo2 {
    width: 100%;
    display: inline-block;
    margin-bottom: -35px;
}


.block3_2_1 {
    height: 500px;
    width: 40%;
    float: left;
    background: rgba(0, 144, 221, 1);
    
    
}

.block3_2 {
    width: 60%;
    float: right;
    background: rgba(255, 255, 255, 0.1);
}

.block3_2 div {

    padding: 0 100px;
}

.block3_2_1 h2{

	color: white;
	font-size: 5vh;
	text-align: left;
	margin-left: 10%;
	width: 400px;
}

.block3_2_1 hr {

    color: white;
    background-color: white;
    height: 1px;
    width: 15%;
    margin: 5% 10%;

}

.block3_2_1 p{

	color: white;
	text-align: left;
	margin-left: 10%;
	width: 400px;
}
/*Блок 3 3*/

.block3_3 {
    width: 100%;
    display: inline-block;
}
.block3_3_text{

	float: right;
	width: 40%;
	background: white;
	height: 463px;

}

.block3_3_photo{
	float: left;
	width: 60%;
	height: 463px;
	background: url(../images/tkzap.png) center no-repeat;
	background-size: cover;
	z-index: 1000;
	
}

.block3_3_text h2{

	color: #222222;
	font-size: 5vh;
	text-align: left;
	margin-left: 10%;
	width: 400px;
}

.block3_3_text hr {

    color: #222222;
    background-color: #222222;
    height: 2px;
    width: 15%;
    margin: 5% 10%;

}

.block3_3_text p{

	color: #222222;
	text-align: left;
	margin-left: 10%;
	width: 400px;

}
